@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.font-header {
  font-family: "Raleway", sans-serif;
}

@keyframes bounceLeftRight {
  0%,
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
  }
}

.animate-bounce-left-right-infinite {
  animation: bounceLeftRight 5s ease-in-out infinite;
}

@keyframes bounceTopButton {
  0%,
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
}

.animate-bounce-top-button-infinit{
  animation: bounceTopButton 5s ease-in-out infinite;
  -webkit-animation: bounceTopButton 5s ease-in-out infinite;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* .texta{
  object-fit: cover;
  position: absolute;
  width: 100%;
  #76797E
} */
